:root {
    --colorbanner: #34495E

}
* {
    margin: 0px;
    padding: 0px;
}

.banner .img-banner {
    display: block;
    margin:auto;
    width: 100%;
    height: 250px;
    max-width: 1364px;
    min-width: 500px;
}

.footer {
    background-color:var(--colorbanner);
    padding-inline-start: 1em 0;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
